@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);

[class*='__container'] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
    font-family: 'Inter';
    font-size: 16px;
}
.header-main {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    line-height: 1.66;
    color: #E5E5E5;
    background: url('../img/unsplash_1png.png') 50%/cover no-repeat;
}
.header-text {
    padding-top: 330px;
    padding-bottom: 100px;
    max-width: 605px;
}
.data-title {
    margin-bottom: 15px;
}
.header-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #F8F9FA;
}
.header-title ~ p {
    max-width: 350px;
}
/* ---------- */
.main-main {
    font-weight: 500;
    line-height: 1.5;
    color: #637381;
    background: linear-gradient(115deg, rgba(244,247,255,0) 63%, rgba(48,86,211,0.08) 0%, rgba(244,247,255,0) 100%), linear-gradient(115deg, rgba(244,247,255,0) 69%, rgba(48,86,211,0.08) 67%, rgba(244,247,255,0) 100%) #F4F7FF;
    min-height: 560px;
}
.main__container {
    background: url("../img/speaker.png") 764px 81px no-repeat;        
}    
.main-text {
    padding-top: 145px;
    padding-bottom: 146px;
    max-width: 570px;
}
.data-main {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #3056D3;
    margin-bottom: 13px;
}
.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212B36;
    margin-bottom: 15px;
}
.main-title ~ p {
    margin-bottom: 35px;
}
.button {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #3056D3;
    border-radius: 30px;
    padding: 10px 30px;
}
/* ----------- */
.footer-main {
    background-color: rgb(230, 252, 252);
    padding: 80px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #637381;
}
.footer-title {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.07;
    color: #212B36;
    margin-bottom: 45px;
}
.list {
    margin-bottom: 60px;
}
.first-list {
    margin-bottom: 18px;
}
.second-list,
.third-list,
.fourth-list,
.fifth-list,
.sixth-list {
    margin-bottom: 20px;
}
li {
    padding-left: 30px;
    padding-top: 2px;
    min-height: 20px
}
.first {
    background: url('../img/first.png') 0 5px no-repeat;
    padding-left: 20px;
}   
.second {
    background: url('../img/second.png') 0 0px no-repeat;
}
.third {
    background: url('../img/third.png') 0 0px no-repeat;
}
.fourth {
    background: url('../img/fourth.png') 0 0px no-repeat;
}
.fifth {
    background: url('../img/fifth.png') 0 0px no-repeat;
}
.sixth {
    background: url('../img/sixth.png') 0 0px no-repeat;
}