@import url("reset.css");

body {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px 0;
}
header {
    margin-bottom: 40px;
}
.title {
    max-width: 100px;
    text-align: center;
    border: 5px solid red;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px #000;
}   
.main-text {
}
.first-text {
    outline: 5px solid rgb(74, 70, 70);
    opacity: 0.5;
    margin-bottom: 20px;
    background-color: yellowgreen;
}
.second-text {
    border: 5px dotted rgb(43, 79, 101);
    margin-bottom: 20px;
    background-color: rgb(37, 156, 207);
}
.thid-text {
    visibility: hidden;
    margin-bottom: 20px;
}
.fourth-text {
    border: 5px dashed rgb(39, 170, 58);
    background-color: rgb(196, 207, 37);
}