@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    font-family: 'Poppins', sans-serif;
    color: #6C757D;
    background:#F8F9FA;
}
h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  color: #212529;
  margin-bottom: 40px;
}
.page-1,
.page-2,
.page-3 {
  max-width: 816px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.first-title {
  max-width: 400px;
}
.first-text,
.second-text,
.third-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.78;
}
.text {
  margin-bottom: 26px;
}
.img-first {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 80px;
}
.second-title {
  max-width: 605px;
}
.image-second,
.image-third {
  font-size: 0px;
  max-width: 1240px;
  margin: 0 auto 80px;
}
.img-second {
   margin-right: 30px;
   max-width: 605px;
}
.img-third {
  max-width: 605px;
}

.fourth-text {
  background: rgb(225, 225, 225);
  max-width: 816px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.78;
  max-height: 130px;
  overflow: auto;
}
.image-third * {
  max-width: 400px;
}
.img-1,
.img-2 {
  margin-right: 20px;
}
